<section>
    <h1>Liste des exoplanètes</h1>
    {{>exoplanetsTable}}
</section>

<section>
    <h1>Ajouter une Exoplanète découverte</h1>
    {{>exoplanetsCreateForm}}
</section>

<section>
    <h1>Recherche d'une Exoplanète déjà découverte</h1>
    {{>exoplanetsSearch}}
</section>