<h1>EXO (JS) PLANET</h1>

<nav>
    <ul>
        <li><a href="/"> Accueil</a></li>
        <li><a href="/exoplanets"> Exoplanètes</a></li>
        <li><a href="/exomoons"> Exolunes</a></li>
        <li><a href="/forum"> Forum de discussion</a></li>
    </ul>
</nav>